version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - my_shared_network  # Make sure this matches in both files
    restart: always

volumes:
  rabbitmq_data:

networks:
  my_shared_network:  # Define the network here
    name: my_shared_network
    driver: bridge
